<a href="https://colab.research.google.com/github/ErnestDannielTiston/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Classes

In [ ]:
class MyClass:
  pass

In [ ]:
class OOP1_2:
  x = 5
  print(x)

5

In [ ]:
class OOP1_2:
  def __init__(self,name,age):      #__init__(parameter)
    self.name = name                #attributes
    self.age = age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("Ernest", 17)

print(person.name)
print(person.age)
print(person.identity)

Ernest
17
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f5578220110>>

In [ ]:
#Modify the Object Name

person.name = "Danniel"
print(person.name)
person.age = 18
print(person.age)

Danniel
18

In [ ]:
#Delete the Object

del person.name

AttributeError: ignored

In [ ]:
print(person.name)

AttributeError: ignored

In [ ]:
print(person.age)

18

Application 1 - Write a Python program that computes the area of a square, and name its class as Sqaure, side as attributes

In [ ]:
class Square:
  def __init__(self,sides):
      self.sides = sides

  def area(self):
    return self.sides*self.sides          #formula to compute the area of the square

  def display(self):
      print("The area of the square is: ", self.area())

square = Square(4)


print(square.sides)
square.display()

4
The area of the square is:  16

Application 2 - Write a Python program that displays your full name, age, course, school. Create a class names MyClass, and name, age, school, course as attributes

In [41]:
class MyClass:
  def __init__(self,name,age,course,school):
    self.name=name
    self.age=age
    self.course=course
    self.school=school
  
  def identity(self):
    print(self.name,self.age, self.course, self.school)


person = MyClass("Ernest Danniel R. Tiston", 17, "BSCPE 1-2", "CVSU-INDANG CAMPUS")
print(person.name)
print(person.age)
print(person.course)
print(person.school)
print(person.identity)

Ernest Danniel R. Tiston
17
BSCPE 1-2
CVSU-INDANG CAMPUS
<bound method MyClass.identity of <__main__.MyClass object at 0x7f55763cf350>>